.generic-content-container{
    p{
        margin: 1.8rem 0;
        
        @mixin atSmall {
            
            line-height: 1.65;
            font-size: 1.123rem;
        }
    }
    p a{
        font-weight: 700;
        
    }
}